                /* CSS */
        
        :root {
            --background-color: #FFFFFF;
            /* white */
            --second-background-color: #023047;
            /* dark blue */
            --third-background-color: #219EBC;
            /* light blue */
            --main-font: 'Kanit', sans-serif;
            /* Kanit font*/
            --font-color: #000000;
            /* black */
            --second-font-color: #FFFFFF;
            /* white */
            --color: #8ECAE6;
            /* sky blue */
            --main-color: #FB8500;
            /* dark orange */
            --third-color: #FFB703;
            /* light orange */
            --text-spacing: 1rem;
            --imagery-spacing: 1vw;
            --relative-spacing: 1%;
        }
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            min-height: 100%;
            margin: 0;
            padding: 0;
            background-color: var(--background-color);
            font-family: var(--main-font);
            color: var(--font-color);
        }
        
        a {
            text-decoration: none;
        }
        
        h2 {
            font-size: x-large;
            text-align: center;
        }
        
        h1,
        h2,
        h3,
        h4 {
            padding: calc(var(--text-spacing)*0.1);
        }
        
        header {
            padding: calc(var(--text-spacing)*0.5);
        }
        
        .container {
            max-width: 65rem;
            width: 90%;
            margin: auto;
        }
        
        .navbar {
            width: 100%;
            box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        }
        
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.8rem;
        }
        
        .logo {
            position: absolute;
            top: 0.8rem;
            right: 0.9rem;
        }
        
        .navbar .menu-items {
            padding-top: 120px;
            margin-left: -2.5rem;
            height: 50vh;
            width: 100%;
            transform: translate(-150%);
            display: flex;
            flex-direction: column;
            padding-left: 3rem;
            transition: transform 0.3s ease-in-out;
            text-align: left;
            box-shadow: inset 2000px 0 0 rgb(255, 255, 255);
        }
        
        .navbar .nav-container li {
            list-style: none;
        }
        
        .navbar .nav-container a {
            text-decoration: none;
            color: var(--second-color);
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.7rem;
        }
        
        .navbar .nav-container a:hover {
            color: var(--main-color);
        }
        
        .nav-container {
            display: block;
            position: relative;
            height: 3.7rem;
        }
        
        .nav-container .checkbox {
            position: absolute;
            display: block;
            height: 2rem;
            width: 2rem;
            top: 1.25rem;
            left: 1.25rem;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
        }
        
        .nav-container .hamburger-lines {
            display: block;
            height: 1.6rem;
            width: 2rem;
            position: absolute;
            top: 1rem;
            left: 1.25rem;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .nav-container .hamburger-lines .line {
            display: block;
            height: 0.25rem;
            width: 100%;
            border-radius: 0.6rem;
            background: var(--main-color);
        }
        
        .nav-container .hamburger-lines .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line2 {
            transition: transform 0.2s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
        
        .navbar .menu-items li {
            margin-bottom: 1.2rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
        
        .nav-container input[type="checkbox"]:checked~.menu-items {
            transform: translateX(0);
        }
        
        .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
            transform: rotate(45deg);
        }
        
        .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
            transform: scaleY(0);
        }
        
        .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
            transform: rotate(-45deg);
        }
        
        .nav-container input[type="checkbox"]:checked~.logo {
            display: none;
        }
        
        main>section:nth-of-type(1)>iframe {
            height: 30vw;
            width: 100%;
            border: none;
        }
        
        main>section:nth-of-type(2) {
            height: 163vw;
            padding: var(--imagery-spacing);
        }
        
        section>form>div {
            margin: calc(var(--imagery-spacing)*8) calc(var(--imagery-spacing)*13) calc(var(--imagery-spacing)*13) calc(var(--imagery-spacing)*13);
            display: flex;
            flex-flow: column nowrap;
            align-items: space-around;
            gap: calc(var(--imagery-spacing)*2);
        }
        
        section>form>div>div>input#email {
            width: 100%;
            padding: calc(var(--imagery-spacing)*1.5);
            border: calc(var(--text-spacing)*0.15) solid #424242;
            border-radius: calc(var(--text-spacing)*0.2);
        }
        
        section>form>div>div>select#reason {
            width: 100%;
            padding: calc(var(--imagery-spacing)*1.5);
            border: calc(var(--text-spacing)*0.15) solid #424242;
            border-radius: calc(var(--text-spacing)*0.2);
            background-color: transparent;
        }
        
        section>form>div>div>textarea#message {
            width: 100%;
            padding: calc(var(--imagery-spacing)*1.5);
            border: calc(var(--text-spacing)*0.15) solid #424242;
            border-radius: calc(var(--text-spacing)*0.2);
        }
        
        section>form>div>div>input#email:hover,
        form>div>div select#reason:hover,
        section>form>div>div>textarea#message:hover {
            border: calc(var(--text-spacing)*0.15) solid var(--third-color);
            background-color: rgba(255, 165, 70, 0.4);
        }
        
        section>form>div>div>input#submit {
            padding: var(--imagery-spacing);
            border: calc(var(--text-spacing)*0.15) solid #424242;
            border-radius: calc(var(--text-spacing)*0.2);
            background-color: transparent;
        }
        
        section>form>div>div>input#submit:hover {
            border: calc(var(--text-spacing)*0.15) solid var(--third-color);
            background-color: rgba(255, 165, 70, 0.2);
        }
        
        footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0 0.6875rem;
            padding-top: 2.5rem;
        }
        
        footer p {
            font-size: 4vw;
            margin-bottom: 0;
        }
        
        .logo-f img {
            width: 13vw;
        }
        
        @media screen and (min-width: 768px) {
            footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: 0 0.6875rem;
                    padding-top: 2.5rem;
            }
            footer p {
                font-size: 1.2vw;
                margin-bottom: 0;
            }
            .logo-f img {
                width: 3vw;
            }
            .container {
                max-width: 100%;
                width: 100%;
                margin: 0;
            }
            .nav-container .hamburger-lines {
                display: none;
            }
            .navbar .menu-items {
                padding-top: 0;
                height: 3.75rem;
                width: 100%;
                transform: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                padding: 0;
                text-align: center;
            }
            h2 {
                font-size: xx-large;
            }
            main>section:nth-of-type(2) {
                height: 101vw;
                padding: var(--imagery-spacing);
            }
        }
            @media screen and (min-width: 1024px) {
                footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: 0 0.6875rem;
                    padding-top: 2.5rem;
                }
                footer p {
                    font-size: 1.2vw;
                    margin-bottom: 0;
                }
                .logo-f img {
                    width: 3vw;
                }
                .container {
                    max-width: 100%;
                    width: 100%;
                    margin: 0;
                }
                .nav-container .hamburger-lines {
                    display: none;
                }
                .navbar .menu-items {
                    padding-top: 0;
                    height: 3.75rem;
                    width: 100%;
                    transform: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                }
                main>section:nth-of-type(2) {
                    height: 81vw;
                    padding: var(--imagery-spacing);
                }
            }