:root {
    --main-color: #FB8500;
    --second-color: #023047;
    --main-font: 'Kanit', sans-serif;
    --title-size: 9vw;
    --title-size-d: 3.5vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

.container {
    max-width: 65rem;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.8rem;
}

.logo {
    position: absolute;
    top: 0.8rem;
    right: 0.9rem;
}

.navbar .menu-items {
    padding-top: 120px;
    margin-left: -2.5rem;
    height: 50vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    box-shadow: inset 2000px 0 0 rgb(255, 255, 255);
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: var(--second-color);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    color: var(--main-color);
}

.nav-container {
    display: block;
    position: relative;
    height: 3.7rem;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 1.6rem;
    width: 2rem;
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 0.25rem;
    width: 100%;
    border-radius: 0.6rem;
    background: var(--main-color);
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

.service-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin-top: 2.7rem;
}

h1 {
    font-size: 9vw;
    color: var(--main-color);
}

#title-2 {
    font-weight: bold;
    font-size: 4vw;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 55%);
    padding-top: 3rem;
    margin: 2rem, 0;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-s {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description p {
    display: inline;
    font-size: clamp(1rem, 3vw, 4rem);
    display: none;
}

.description h2 {
    display: inline;
    font-size: clamp(1rem, 3vw, 4rem);
    color: var(--main-color);
}

.main img {
    width: 25vw;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left:  0.6875rem;
    margin-right: 0.6875rem;
    margin-top: 20rem;
    padding-top: 2.5rem;
}

footer p {
    font-size: 4vw;
}

.logo-f img {
    width: 13vw;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .nav-container .hamburger-lines {
        display: none;
    }
    .navbar .menu-items {
        padding-top: 0;
        height: 3.75rem;
        width: 100%;
        transform: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    footer {
        margin: 0 0.6875rem;
    }
    footer p {
        font-size: 1.2vw;
    }
    .logo-f img {
        width: 3vw;
    }
    h1 {
        font-size: 3.5vw;
        color: var(--main-color);
    }
    #title-2 {
        font-weight: bold;
        font-size: 1.3vw;
    }
    .main img {
        width: 10.5vw;
    }
    .description h2 {
        display: inline;
        font-size: clamp(1rem, 2vw, 4rem);
        color: var(--main-color);
    }
    .description p {
        display: inline-block;
        width: 50%;
        font-size: clamp(1rem, 1vw, 4rem);
        background-color: white;
        border-radius: 0.3rem;
        text-align: center;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    }
    .description {
        display: flex;
        flex-direction: column;
    }
    #left1 {
        align-items: flex-start;
    }
    #left2 {
        align-items: flex-start;
    }
    #right1 {
        align-items: flex-end;
    }
    #right2 {
        align-items: flex-end;
    }
    #left1 p {
        box-shadow: -4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    }
    #left2 p {
        box-shadow: -4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 55%);
        padding-top: 3rem;
        margin: 2rem, 0;
        gap: 5rem;
    }
}